[submodule "portfolio-alura-desenvolve-boticario"]
	path = portfolio-alura-desenvolve-boticario
	url = git@github.com:pedropaccola/portfolio-alura-desenvolve-boticario.git
[submodule "alurabook-alura-desenvolve-boticario"]
	path = alurabook-alura-desenvolve-boticario
	url = https://github.com/pedropaccola/alurabook-alura-desenvolve-boticario
